{% extends 'base.html' %}{% block content%}

<section class="section video" data-section="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{{url_for('main.subject_lectures', id=data.subject.id)}}">
                    <div class="section-heading">
                        <h2 style="margin-top:8px">{% block title %}{{data.subject.name}}&nbsp;Lecture{% endblock %}</h2>
                    </div>
                </a>
            </div>
        </div>
        {%if data.frmt=="video" %}
        <div class="embed-responsive embed-responsive-16by9 mx-auto w-75">
            <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/{{data.src}}?modestbranding=1&rel=0&iv_load_policy=3&fs=0"
                width="426" height="240" frameborder="0"></iframe>
        </div>
        {% else %}
        <!-- Markup for audio -->
        {% endif %}
        <br>
        {% if data.resources %}
        <div class="row">
            <div class="col-md-12">
                <h1 class="custom-text">Resources</h1>
                <ul class="list-group">
                    {% for resource in data.resources%}
                    <li class="list-group-item">
                        <a href="{{resource.content}}" target="_blank">{{resource.name}}&nbsp;{{resource.type}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
    <div class="container">
    </div>
</section>
{% endblock %}