{% extends "base.html" %} {% block content %}
<section class="section courses">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>{% block title%}{{subject.name}}{% endblock %}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <img src="{{url_for('static', filename='images/teacher-pics/'+subject.teacher_pic)}}" alt=""
                    class="rounded-circle" width="200">
            </div>

            <div class="col-md-auto py-5">
                <h3 class="custom-text">{{subject.teacher_name}}</h3>
                <span class="custom-text">{{subject.name}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <h1 class="custom-text">Resources</h1>
                <br>
                <ul class="list-group custom-list">
                    {% for resource in resources.items %}
                    {% if resource.src %}
                    <li class="list-group-item">
                        <a class="" href="{{url_for('data', file='pdfs/'+resource.src)}}" target="_blank"
                            download="{{resource.name}}">{{resource.name}}&nbsp;({{resource.date}})</a>
                    </li>
                    {% else %}
                    <li class="list-group-item disabled" style="color: #dc3545a1; font-weight: bold;">
                        {{resource.name}}&nbsp;({{resource.date}})</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <br>
            </div>
            <h5 class="custom-text">Lecture of these resources are available at <a
                    href="{{url_for('main.subject_lectures', id=subject.id)}}"><em>this Page</em></a></h5>
        </div>
        <br>
        <div class="row">
            <span class="custom-text">Pages</span>
            <div class="col-md-12">
                {% for page_num in resources.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                {% if resources.page == page_num %}
                <a class="btn btn-warning mb-4"
                    href="{{ url_for('main.subject_resources', id=subject.id , page=page_num) }}">{{ page_num }}</a>
                {% else %}
                <a class="btn btn-outline-warning mb-4"
                    href="{{ url_for('main.subject_resources', id=subject.id , page=page_num) }}">{{ page_num }}</a>
                {% endif %}
                {% else %}
                ...
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}