{% extends "base.html" %} {% block content %}
<section class="section courses">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>{% block title%}{{subject.name}}{% endblock %}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs custom-tabs">
                <li class="nav-item"><a class="nav-link active" href="#lectures" data-toggle="tab">Lectures</a></li>
                <li class="nav-item"><a class="nav-link" href="#resources" data-toggle="tab">Resources</a></li>
            </ul>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="lectures">
                        <ul class="list-group custom-list">
                            {% for lecture in lectures.items %} {% if lecture.src %}
                            <li class="list-group-item">
                                <a
                                    href="{{url_for('main.lecture', id=lecture.priv_id)}}">{{lecture.name}}&nbsp;({{lecture.date}})</a>
                            </li>
                            {% else %}
                            <li class="list-group-item disabled" style="color: #dc3545a1; font-weight: bold;">
                                {{lecture.name}}&nbsp;({{lecture.date}})</li>
                            {% endif %} {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane" id="resources">
                        <ul class="list-group custom-list">
                            {% for resource in resources.items %}
                            <li class="list-group-item">
                                <a class="" href="{{resource.content}}"
                                    target="_blank">{{resource.name}}&nbsp;({{resource.date}})</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for page_num in lectures.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if lectures.page == page_num %}
                            <a class="btn btn-info mb-4" href="{{ url_for('main.subject', id=subject.id , page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('main.subject', id=subject.id , page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}