{% extends 'base.html' %} {% block content%}
<section class="section courses" data-section="section4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>{% block title %}My Account{% endblock %}</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-auto">
                        <h1 class="custom-text">{{current_user.name.title()}}</h1>
                    </div>
                </div>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    {{ form.name.label(class="form-control-label custom-text") }}

                                    {% if form.name.errors %}
                                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.name.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.name(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    {{ form.email.label(class="form-control-label custom-text") }}
                                    {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            {% if not current_user.verified %}
                            <div class="form-group">
                                <button id="verify" class="btn btn-warning align-middle" style="margin: 35px 20px;"
                                    type="button" onclick="redirect()">Verify</button>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{form.campus.label(class="form-control-label custom-text")}}
                                    {{form.campus(class="form-control form-control-lg")}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{form.grade.label(class="form-control-label custom-text")}}
                                    {{form.grade(class="form-control form-control-lg")}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{form.section.label(class="form-control-label custom-text")}}
                                    {{form.section(class="form-control form-control-lg")}}
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <p style="color:white;"><strong style="font-size: 20px;">Note:</strong>&nbsp;<em>If you
                                        change your Class data your account would have to be again approved by Admin.
                                        You wouldn't be able to access the contents of site.</em></p>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-warning") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}